@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Models.Entities.Photos>
@using Online_Order_For_Digital_Printing_Of_Photos.Models.DAO
@using PagedList.Mvc

@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
    var cate = new CateDAO().GetAllCategory();
}

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}

<section style="margin-top: 0px">
    @Html.Partial("~/Views/Shared/UserLayout/_Alert.cshtml")
    <section>
        <div class="block no-padding">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="main-section">
                        @Html.Partial("~/Views/Shared/UserLayout/_Slide.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="block remove-gap" id="GetDataPhotoForPhotos">
        @{Html.RenderAction("GetPhotoForPhotos", "Home", new { page = 1 }); }
    </div>
</section>
