@model PagedList.PagedList<Online_Order_For_Digital_Printing_Of_Photos.Models.ModelViews.ViewUserPhotoModel>
@using Online_Order_For_Digital_Printing_Of_Photos.Models.DAO

@{
    ViewBag.Title = "MyPhoto";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";

}
@section scripts {
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}

@Html.Partial("~/Views/Shared/UserLayout/_Sidebar.cshtml")
@Html.Partial("~/Views/Shared/UserLayout/_Alert.cshtml")

<h2 style="text-align:center">My Photos</h2>


<div class="panel-body" id="MyPhoto">
    <div class="table-responsive">
        @{ Html.RenderAction("GetForMyPhoto", "User", new { page = 1 });}
    </div>
</div>