<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fas fa-users"></i>
                            <span>User List</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="#">
                                    User
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Add New User
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="fas fa-users"></i>
                            <span>User List</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="#">
                            <i class="fas fa-list-alt"></i>
                            <span>Order List</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-images"></i>
                            <span>Photo List</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->