<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="~/Admin/Admin">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">


                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Search..." />
                        

                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fas fa-users"></i>
                            <span>User List</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="~/Admin/Admin/ManagerUser">
                                    ManagerUser
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="fas fa-users"></i>
                            <span>User List</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="~/Admin/Admin/ManagerOrder">
                            <i class="fas fa-list-alt"></i>
                            <span>Order List</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Admin/ManagerPhoto">
                            <i class="fas fa-images"></i>
                            <span>Photo List</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->