<footer>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-2 column">
                    <div class="widget">
                        <h4 class="widget-title">picstock.com</h4>
                        <ul>
                            <li><a href="freedownloads.html" title="">Free Downloads</a></li>
                            <li><a href="wishlist.html" title="">Wishlist</a></li>
                            <li><a href="price-package.html" title="">Price Packages</a></li>
                            <li><a href="affiliations.html" title="">Affiliations</a></li>
                            <li><a href="download-history.html" title="">Download History</a></li>
                        </ul>
                    </div><!-- Widget -->
                </div>
                <div class="col-md-2 column">
                    <div class="widget">
                        <h4 class="widget-title">Who We Are</h4>
                        <ul>
                            <li><a href="affiliations.html" title="">Affiliations</a></li>
                            <li><a href="blog.html" title="">Blog</a></li>
                            <li><a href="blog-single.html" title="">Blog Single</a></li>
                            <li><a href="blog-single-sidebar.html" title="">Blog Single W/S</a></li>
                            <li><a href="freedownloads.html" title="">Free Downloads</a></li>
                        </ul>
                    </div><!-- Widget -->
                </div>
                <div class="col-md-2 column">
                    <div class="widget">
                        <h4 class="widget-title">Ways To Pay</h4>
                        <ul>
                            <li><a href="cart.html" title="">Cart</a></li>
                            <li><a href="checkout.html" title="">Checkout</a></li>
                            <li><a href="wishlist.html" title="">Wishlist</a></li>
                            <li><a href="#" title="">Plans & Pricing</a></li>
                            <li><a href="#" title="">Coorporate Accounts</a></li>
                        </ul>
                    </div><!-- Widget -->
                </div>
                <div class="col-md-3 column">
                    <div class="widget">
                        <h4 class="widget-title">Free Images</h4>
                        <div class="images-widget">
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                            <a href="#" title=""><img src="http://placehold.it/90x90" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column">
                    <div class="widget">
                        <h4 class="widget-title">Follow Us</h4>
                        <div class="social-widget">
                            <p>Search for images anywhere using our award-winning iPad apps.</p>
                            <ul>
                                <li><a style="background:#0070cf;" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                <li><a style="background:#be3100;" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a style="background:#d900a3;" href="#" title=""><i class="fa fa-flickr"></i></a></li>
                                <li><a style="background:#e04c86;" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a style="background:#fe3400;" href="#" title=""><i class="fa fa-reddit"></i></a></li>
                            </ul>
                            <form>
                                <input type="text" placeholder="Subscribe" />
                                <button><i class="ti-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container"><p>© 2015-2016 Picstock, Inc. All rights reserved. Made By Webinane.</p></div>
</div>


<div class="registration-popup">
    <div class="popup-overlay">
        <div class="popup-container">

            

            

            <div class="packages-popup">
                <span class="close-popup"><i class="fa fa-remove"></i></span>
                <div class="credits">
                    <div class="simple-title">
                        <h2>Pay Per Download With  Credits</h2>
                        <p>Download the images, vectors and video clips you need with credits - buy more, save more. </p>
                    </div>
                    <div class="buy-credits">
                        <div class="credit">
                            <span>3 Credits</span>
                            <div class="credits-price"><strong>$33 USD</strong>SAVE 8%</div>
                            <a class="buy" href="#" title="">BUY CREDITS</a>
                        </div>
                        <div class="credit">
                            <span>3 Credits</span>
                            <div class="credits-price"><strong>$33 USD</strong>SAVE 8%</div>
                            <a class="buy" href="#" title="">BUY CREDITS</a>
                        </div>
                        <div class="credit">
                            <span>3 Credits</span>
                            <div class="credits-price"><strong>$33 USD</strong>SAVE 8%</div>
                            <a class="buy" href="#" title="">BUY CREDITS</a>
                        </div>
                        <div class="credit">
                            <span>3 Credits</span>
                            <div class="credits-price"><strong>$33 USD</strong>SAVE 8%</div>
                            <a class="buy" href="#" title="">BUY CREDITS</a>
                        </div>
                        <div class="credit">
                            <span>3 Credits</span>
                            <div class="credits-price"><strong>$33 USD</strong>SAVE 8%</div>
                            <a class="buy" href="#" title="">BUY CREDITS</a>
                        </div>
                    </div>
                </div>
                <div class="subscribe">
                    <div class="simple-title">
                        <h2>Pay Per Download With  Credits</h2>
                        <p>Download the images, vectors and video clips you need with credits - buy more, save more. </p>
                    </div>
                    <div class="best-packages">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="package">
                                    <i class="ti-stats-up"></i>
                                    <h4>Weekly Packages</h4>
                                    <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                    <strong>$2.64<a href="#" title="">Choose plan</a></strong>
                                </div><!-- Package -->
                            </div>
                            <div class="col-md-6">
                                <div class="package">
                                    <i class="ti-microsoft"></i>
                                    <h4>Weekly Packages</h4>
                                    <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                    <strong>$2.64<a href="#" title="">Choose plan</a></strong>
                                </div><!-- Package -->
                            </div>
                            <div class="col-md-6">
                                <div class="package">
                                    <i class="ti-comments-smiley"></i>
                                    <h4>Weekly Packages</h4>
                                    <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                    <strong>$2.64<a href="#" title="">Choose plan</a></strong>
                                </div><!-- Package -->
                            </div>
                            <div class="col-md-6">
                                <div class="package">
                                    <i class="ti-briefcase"></i>
                                    <h4>Weekly Packages</h4>
                                    <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                    <strong>$2.64<a href="#" title="">Choose plan</a></strong>
                                </div><!-- Package -->
                            </div>
                        </div>
                    </div>
                    <span><strong>Need larger credit packs?</strong>  Call +1 876 378 251.</span>
                </div>
            </div><!-- Packages Popup -->
        </div>
    </div>
</div><!-- Registration Popup -->

<div class="wishlist-btn"><a href="wishlist.html" title=""><i class="fa fa-heart"></i></a></div>