<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left align-content-md-center">
    <div class="nano" style="text-align: center">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-parent">
                    <li>
                        <a href="~/Photo/CreatePhoto">
                            Add New Photo
                        </a>
                    </li>
                    <li>
                        <a href="~/User/MyPhoto">
                            My Photo
                        </a>
                    </li>
                    <li>
                        <a href="~/User/DownLoadedPhoto">
                            <i class="fas fa-download"></i>
                            <span>Downloaded Photo</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/User/MyOrder">
                            <i class="fas fa-list-alt"></i>
                            <span>My Order</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>

    </div>

</aside>
<!-- end: sidebar -->
