
<div class="image-slider">
    <div class="tp-banner">
        <ul>
            <li data-transition="slidedown  cube-vertical" data-masterspeed="500">
                <img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/a.jpg" alt="" data-duration="120" data-ease="Power0.easeInOut">
            </li><!-- SLIDE  -->
            <li data-transition="slideleft cube-horizontal" data-masterspeed="500">
                <img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/a.jpg" alt="" data-duration="120" data-ease="Power0.easeInOut ">
            </li><!-- SLIDE  -->
        </ul>
    </div>
</div><!-- Image Slider -->
<div class="welcome-overlay">
    <div class="welcome-inner">
        <div class="logo"><a href="#" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/slogan.png" alt="" /></a></div><!-- Logo -->
        <div class="main-tabber">
            <ul class="custom-tabs">
                <li class="active"><a href="#" data-name="all-search" title="">all Search</a></li>
                @* <li><a href="#" data-name="category" title=""><i class="fa fa-diamond"></i> Images by Category</a></li>*@
            </ul><!-- Main Tabber Buttons -->
            <div class="custom-content">
                <div data-id="all-search" class="tab-detail active">
                    <div class="main-search fadeInUp">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                        {
                            <input type="text" placeholder="Search Here Your Keywords" name="search">
                            <button><i class="fa fa-search"></i></button>
                        }
                    </div><!-- Main Search -->
                </div>
            </div>
        </div><!-- Main Tabber -->
    </div>
</div><!-- Welcome Overlay -->
