@model PagedList.IPagedList<Online_Order_For_Digital_Printing_Of_Photos.Areas.Admin.Models.ManagerUserModelView>

@{
    ViewBag.Title = "ManagerUser";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/Layout.cshtml";
}
<div id="manageUser">
    @{ Html.RenderAction("GetUserForManageUser", "Admin", new { page = 1, Area = "Admin" });}
</div>